<div class="main container mb-5">
  <h1 class="title text-center backdrop py-3 px-5">FOOTBALL UPDATES</h1>

  <ul class="list-unstyled d-flex backdrop text-center my-4 p-4">
    <li class="flex-fill">England</li>
    <li class="flex-fill">France</li>
    <li class="flex-fill">Italia</li>
  </ul>

  <div class="w-100 p-4 text-center backdrop mb-5">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Name</th>
          <th>Games</th>
          <th>W</th>
          <th>L</th>
          <th>D</th>
          <th>Goal Difference</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let standing of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]" [routerLink]="'/teams/' + standing">
          <td>
            {{ standing }}
          </td>
          <td>
            <img class="py-1" [src]="standing" [alt]="'Team logo'" />
          </td>
          <td>Name</td>
          <td>Played</td>
          <td>Win</td>
          <td>Lose</td>
          <td>Draw</td>
          <td>Goals Dif</td>
          <td>Points</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
