main {
  height: 100%;
  padding: 1rem 0;

  .title {
    backdrop-filter: blur(5px);
    letter-spacing: -0.05rem;
    margin: auto;
    overflow: hidden;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 72, 83, 0.8);
    width: fit-content;
  }
}
