<div class="container">
  <h1 class="text-center">Football Updates</h1>

  <ul class="horizontal-list">
    <li>England</li>
    <li>France</li>
    <li>Italia</li>
  </ul>

  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Games</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>Goal Difference</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let standing of [0, 1, 2]" [routerLink]="'/teams/' + standing">
        <td>
          {{ standing }}
        </td>
        <td>
          <img [src]="standing" [alt]="'Team logo'" />
        </td>
        <td>Name</td>
        <td>Played</td>
        <td>Win</td>
        <td>Lose</td>
        <td>Draw</td>
        <td>Goals Dif</td>
        <td>Points</td>
      </tr>
    </tbody>
  </table>
</div>
