<app-leagues-selector></app-leagues-selector>

<section class="backdrop mb-4" *ngIf="standingsData$ | async as standingsData; else loading">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th colspan="2"></th>
        <th>Name</th>
        <th>Games</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>Goal Difference</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let standing of standingsData; let i = index"
        (click)="getTeamResults(standing.team.id)"
        [routerLink]="'/team-results/'"
        title="Get team results for"
      >
        <td>{{ standing.rank }}</td>
        <td>
          <img
            class="team-logo"
            [src]="standing.team.logo"
            [alt]="'Team ' + standing.team.name + ' logo'"
            [imgSize]="32"
          />
        </td>
        <td class="text-start">{{ standing.team.name }}</td>
        <td>{{ standing.all.played }}</td>
        <td>{{ standing.all.win }}</td>
        <td>{{ standing.all.lose }}</td>
        <td>{{ standing.all.draw }}</td>
        <td>{{ standing.goalsDiff }}</td>
        <td>{{ standing.points }}</td>
      </tr>
    </tbody>
  </table>
</section>

<ng-template #loading> Loading... </ng-template>
