.loader {
  width: 75%;
  height: 0.5rem;
  display: inline-block;
  position: relative;
  background: rgb(0 82 95 / 25%);
  overflow: hidden;
}

.loader::after {
  content: '';
  width: 192px;
  height: 0.5rem;
  background: rgb(0 82 95 / 75%);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
